body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  color: rgb(28, 28, 30);
  background-color: #f0f0f0;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-weight: 400;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

a {
  color: #557BFA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 7.5%;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

@media (max-width: 500px) {
  #main-container {
    top: 0%;
    width: 80%;
    padding: 30px;
  }
}

.icon:hover {
  transform: scale(1.1);
}

#image {
  margin: 10px 0 0 0;
  width: 360px;
}

#social-media-icons {
  margin: 0;
  padding: 0;
}

#social-media-icons  > li {
  display: inline-block;
  list-style: none;
  padding: 0 8px;
}

#social-media-icons > li > a > img {
  width: 30px;
}

#description {
  margin: 20px 0 0 0;
}

